body {
  background: #eee;
}

// Helpers
.helpers.with-top-gap {
  margin-top: 5rem;
}
.helpers.is-actionable {
  cursor: pointer;
}
.helpers.is-right-aligned {
  text-align: right;
}
.helpers.centered {
  text-align: center;
}
.helpers.is-medium {
  font-size: 90%;
}
.helpers.is-small {
  font-size: 80%;
}
.helpers.is-tiny {
  font-size: 70%;
}
.helpers.is-mini {
  font-size: 60%;
}
.helpers.is-centered {
  text-align: center;
}
.helpers.is-horizontally-centered {
  margin: 0 auto;
}


// Actual Styles
