@function rem ($pixels, $base: 10) {
  @return #{$pixels / $base}rem;
}

body {
  background: #eee;
}

// Helpers
.helpers.with-top-gap {
  margin-top: 5rem;
}
.helpers.with-small-top-gap {
  margin-top: 2.5rem;
}
.helpers.is-responsive {
  max-width: 100%;
}
.helpers.is-actionable {
  cursor: pointer;
}
.helpers.is-right-aligned {
  text-align: right;
}
.helpers.centered {
  text-align: center;
}
.helpers.is-medium {
  font-size: 90%;
}
.helpers.is-small {
  font-size: 80%;
}
.helpers.is-tiny {
  font-size: 70%;
}
.helpers.is-mini {
  font-size: 60%;
}
.helpers.is-centered {
  text-align: center;
}
.helpers.is-horizontally-centered {
  margin: 0 auto;
}


// Actual Styles
.track {
  $widths: (
    cover:    10%,
    title:    80%,
    duration: 10%
  );

  $colors: (
    font: #fff
  );

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;

  background: rgba(255, 255, 255, .15);
  color: map-get($colors, 'font');
  cursor: pointer;
  font-size: rem(12);
  user-select: none;

  &:nth-child(2n+1) {
    background: rgba(255, 255, 255, .10);

    &:hover {
      background: rgba(255, 255, 255, .05);
    }
  }

  &:hover {
    background: rgba(255, 255, 255, .075);
  }

  &-cover {
    width: map-get($widths, 'cover');
  }

  &-title {
    padding: 0 .5em;
    text-align: left;
    width: map-get($widths, 'title');
  }

  &-duration {
    padding: 0 .5em;
    text-align: right;
  }
}

.tracklist {
  $colors: (
    backgroundStart: #774556,
    backgroundEnd:   #974f62,
    font:            #fff
  );

  background: linear-gradient(90deg, map-get($colors, 'backgroundStart'), map-get($colors, 'backgroundEnd'));
  border-radius: 8px;
  margin: 1em auto;
  padding: 4em 0 2em;
  width: 50%;
}
